/* #cff0da */
/* #88dba3 */
/* #dadbdb */
/* #dadbdb */
.ac-if{width: 0px; height: 0px; border: 0px; overflow: hidden;}
.mobile{display: none;}
#wrap{width: 100%; height: 100%; left: 0; top: 0; position: absolute;}

#background, #form-background{width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
#background{background: #dadbdb;}
#form-background{background: #fff;}
#background .grid, #form-background .grid{position: absolute; left: 0; top: 0; height: 100%; box-shadow: 0 0 20px #3333;}
#background .grid{width: calc(50% - 105px);}
#form-background .grid{width: calc(50% - 100px);}
.page-loaded #background .grid, .page-loaded #form-background .grid{transition: .8s;}
#background .grid{background: #88dba3;}
#form-background .grid{width: calc(50% - 100px); background: #cff0da; overflow: hidden; z-index: 5;}
.register #background .grid{width: calc(50% + 105px);}
.register #form-background .grid{width: calc(50% + 100px);}

.change-button{font-size: 24px; padding: 6px 20px; border: 1px solid; border-radius: 40px; position: absolute; top: 55%; cursor: pointer; user-select: none; z-index: 15;}
.page-loaded .change-button{transition: background .25s, color .25s, left .8s, right .8s;}
#register{border-color: #fff; color: #fff; left: calc(calc(50% - 100px) / 2);; transform: translateX(-50%);}
#register:hover{background: #fff; color: #cff0da;}
#login{border-color: #cff0da; color: #cff0da; right: calc(calc(-50% + 100px) / 2); transform: translateX(50%);}
#login:hover{background: #cff0da; color: #fff;}
.register #register{left: calc(calc(-50% + 100px) / 2);}
.register #login{right: calc(calc(50% - 100px) / 2);}

#input-wrap{width: 740px; height: 450px; overflow: hidden; position: absolute; border-radius: 20px 0 0 20px; box-shadow: 0 0 40px #3338; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#input-wrap form{position: absolute; left: 260px; width: 480px; height: 100%; padding: 50px 90px; display: flex; flex-direction: column; justify-content: space-between; align-items: center;}
.page-loaded #input-wrap form{transition: .8s;}
.register #input-wrap form{left: 0;}
#input-wrap h2{text-align: center; font-size: 40px;}
#input-wrap .flex{flex-direction: column; align-items: center;}
#input-wrap .input-group{display: flex; flex-direction: column; align-items: flex-start; width: 100%; padding-top: 12px; font-size: 18px;}
#input-wrap input{font-size: 20px; padding: 3px 16px; border-radius: 40px; border: 1px solid #aaa; width: 100%; margin-top: 5px;}
#input-wrap input[type="submit"]{width: 200px; border-color: #88dba3; background: #88dba3; color: #fff;}
.page-loaded #input-wrap input[type="submit"]{transition: .25s;}
#input-wrap .input-other{font-size: 14px; padding-top: 5px; display: flex; width: 100%; justify-content: space-between;}
#login-form input[type="submit"]:hover{background: #fff; color: #88dba3;}
#register-form{color: #fff;}
#register-form input[type="submit"]{background: #fff; color: #cff0da; border-color: #fff;}
#register-form input[type="submit"]:hover{background: #cff0da; color: #fff;}