<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    if("<%= alert %>" != "") {
        const parent = window.parent.document;
        const $alert = parent.querySelectorAll(".alert");
        const $alertPop = parent.querySelectorAll(".alert-pop");

        for(let i = 0; i < $alert.length; i++) {
            console.log($alert);
            $alert[i].innerHTML = "<%= alert %>";
        }
        for(let i = 0; i < $alertPop.length; i++) {
            $alertPop[i].style.display = "block";
        }
    }
  </script>
</body>
</html>