<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>home</h1>
  <p>id: <%= user.id %></p>
  <form id="logout-form" action="/logout-action" method="post" target="action-if">
    <input type="submit" value="Logout">
  </form>
  <iframe id="ac-if" name="action-if" class="ac-if"></iframe>
  <script src="index.js"></script>
</body>
</html>