<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
  <title>Team Scheduler</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="wrap" class="<% if(user) { %>main<% } %>">
    <div id="background">
      <div id="background-group">
        <div class="grid">
        </div>
        <div id="side">
          <div id="side-toggle" class="toggle-bar"><span class="bar"></span></div>
          <div id="user-data">
            <div id="user">
              <div id="id"><span class="user-header"><% if(user.name) { %>name: <% }else { %>id: <% } %></span><span class="user-content"><% if(user) { if(user.name) { %><%= user.name %><% }else { %><%= user.id %><% }} %></span></div>
              <div id="email">email: <span class="user-content"><% if(user) { %><%= user.email %><% } %></span></div>
            </div>
            <div id="user-buttons">
              <button id="logout">logout</button>
              <button id="information">Information</button>
            </div>
          </div>
          <div id="today-todo">
            <div id="todo-header">
              Today's Schedule
            </div>
            <div id="todo-content" class="scroll-bar"></div>
          </div>
        </div>
        <div class="grid-background">
          <canvas id="background-canvas"></canvas>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="body">
        <div id="calendar-area">
          <div id="calendar-header">
            <div id="month-area">
              <div id="prev-month">&lang;</div>
              <div id="this-month"></div>
              <div id="next-month">&rang;</div>
            </div>
            <div id="this-schedule">
              <div id="toggle-area">
                <div id="toggle-text-area">
                  <div class="toggle-text-area">
                    <div class="solo-view">My Schedule</div>
                    <div class="team-view">Team Schedule</div>
                  </div>
                  <div id="selected">
                    <div class="toggle-text-area">
                      <div class="solo-view">My Schedule</div>
                      <div class="team-view">Team Schedule</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="calendar">
            <div id="day">
              <div class="sun">SUN</div>
              <div class="wkd">MON</div>
              <div class="wkd">TUE</div>
              <div class="wkd">WED</div>
              <div class="wkd">THU</div>
              <div class="wkd">FRI</div>
              <div class="wke">SAT</div>
            </div>
            <div id="date-rel">
              <div id="date" class="calendar-dates"></div>
              <div id="date-sub" class="calendar-dates"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="calendar-side-area">
        <div id="calendar-side">
          <div id="cal-side-toggle" class="toggle-bar"><span class="bar"></span></div>
          <div id="open-create-team">Create Team</div>
          <div id="open-invite-team">Invite Team</div>
          <div id="open-request-team">Request Team<span id="request-count">0</span></div>
          <div id="team-list" class="scroll-bar"></div>
        </div>
      </div>
    </div>
    <div id="input-wrap">
      <div id="form-background">
        <div class="grid">
          <form id="register-form">
            <div class="flex">
              <h2>Register</h2>
              <span class="input-group">
                <span>Id</span>
                <input type="text" name="id" autocomplete="off">
              </span>
              <span class="input-group">
                <span>Password</span>
                <input type="password" name="password" autocomplete="off">
              </span>
              <span class="input-group">
                <span>Email</span>
                <input type="email" name="email" autocomplete="off">
              </span>
            </div>
            <div>
              <p class="alert"></p>
              <input type="submit" value="register">
            </div>
          </form>
          <div id="today-month"></div>
        </div>
      </div>
      <div id="register-group" class="change-button-group">
        <p>Team<br>Scheduler</p>
        <div id="register" class="change-button">Register</div>
      </div>
      <div id="login-group" class="change-button-group">
        <p>Welcom<br>to visit</p>
        <div id="login" class="change-button">Login</div>
      </div>
      <div id="form-group">
        <form id="login-form">
          <div class="flex">
            <h2>Login</h2>
            <span class="input-group">
              <span>Id</span>
              <input type="text" name="id" autocomplete="off">
            </span>
            <span class="input-group">
              <span>Password</span>
              <input type="password" name="password" autocomplete="off">
            </span>
            <span class="input-other">
              <a href="#" class="mobile">Register</a>
              <a href="#" class="forgot-password">forgot password?</a>
            </span>
          </div>
          <div>
            <p class="alert"></p>
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
      <div id="today-date"></div>
    </div>
  </div>
  <div id="popup-background"></div>
  <div id="add-schedule" class="popup">
    <div class="popup-header">
      <p>Add Schedule</p>
    </div>
    <div class="popup-content">
      <form id="add-schedule-form" class="popup-form">
        <span class="input-group input-name-group">
          <span>Name</span>
          <input type="text" name="name" autocomplete="off">
          <input type="color" name="color">
        </span>
        <span class="input-group">
          <span>Content</span>
          <textarea name="content"></textarea>
        </span>
        <span class="input-group input-time-group">
          <span>Time</span>
          <input type="date" name="start">
          <span class="between-time">~</span>
          <input type="date" name="end">
        </span>
        <span class="input-group">
          <span>Team</span>
          <select name="group"></select>
        </span>
        <p class="alert"></p>
        <span class="input-buttons">
          <button id="add-schedule-button" class="add-button">Add</button>
          <button class="close-button">Cancle</button>
        </span>
      </form>
    </div>
  </div>
  <div id="modify-schedule" class="popup">
    <div class="popup-header">
      <p>Modify Schedule</p>
    </div>
    <div class="popup-content">
      <form id="modify-schedule-form" class="popup-form">
        <span class="input-group input-name-group">
          <span>Name</span>
          <input type="text" name="name" autocomplete="off">
          <input type="color" name="color">
        </span>
        <span class="input-group">
          <span>Content</span>
          <textarea name="content"></textarea>
        </span>
        <span class="input-group input-time-group">
          <span>Time</span>
          <input type="date" name="start">
          <span class="between-time">~</span>
          <input type="date" name="end">
        </span>
        <span class="input-group">
          <span>Team</span>
          <select name="group"></select>
        </span>
        <p class="alert"></p>
        <span class="input-buttons">
          <button id="modify-schedule-button" class="modify-button">Modify</button>
          <button id="delete-schedule-button" class="delete-button">delete</button>
          <button class="close-button">Cancle</button>
        </span>
      </form>
    </div>
  </div>
  <div id="create-team" class="popup other-color">
    <div class="popup-header">
      <p>Create Team</p>
    </div>
    <div class="popup-content">
      <form id="create-team-form" class="popup-form">
        <span class="input-group input-name-group">
          <span>Name</span>
          <input type="text" name="name" autocomplete="off">
          <input type="color" name="color">
        </span>
        <p class="alert"></p>
        <span class="input-buttons">
          <button id="create-team-button" class="create-button">Create</button>
          <button class="close-button">Cancle</button>
        </span>
      </form>
    </div>
  </div>
  <div id="invite-team" class="popup other-color">
    <div class="popup-header">
      <p>Invite Team</p>
    </div>
    <div class="popup-content">
      <form id="invite-team-form" class="popup-form">
        <div id="invite-team-list" class="scroll-bar"></div>
        <span class="input-group input-name-group">
          <span>User ID</span>
          <input type="text" name="user" autocomplete="off">
        </span>
        <p class="alert"></p>
        <span class="input-buttons">
          <button id="invite-team-button" class="invite-button">Invite</button>
          <button class="close-button">Cancle</button>
        </span>
      </form>
    </div>
  </div>
  <div id="request-team" class="popup other-color">
    <div class="popup-header">
      <p>Request Team</p>
    </div>
    <div class="popup-content">
      <form id="request-team-form" class="popup-form">
        <div id="request-team-list" class="scroll-bar"></div>
        <span class="input-buttons">
          <button class="close-button">Close</button>
        </span>
      </form>
    </div>
  </div>
  <div id="more-pop" class="popup">
    <div class="popup-header">
      <p>Detailed Schedule</p>
    </div>
    <div class="popup-content">
      <form class="popup-form">
        <div id="more-calendar" class="scroll-bar"></div>
        <span class="input-buttons">
          <button class="close-button">Close</button>
        </span>
      </form>
    </div>
  </div>
  <div id="user-pop" class="popup">
    <div class="popup-header">
      <p>User Information</p>
    </div>
    <div class="popup-content">
      <form id="user-pop-form" class="popup-form">
        <span class="input-group">
          <span>Id</span>
          <input type="text" class="readonly" name="id" autocomplete="off" readonly>
        </span>
        <span class="input-group">
          <span>Email</span>
          <input type="text" class="readonly" name="email" autocomplete="off" readonly>
        </span>
        <span class="input-group">
          <span>Name</span>
          <input type="text" name="name" autocomplete="off">
        </span>
        <span class="input-group">
          <span>CellNo</span>
          <input type="text" name="cell" autocomplete="off">
        </span>
        <p class="alert"></p>
        <span class="input-buttons">
          <button id="user-pop-button">Save</button>
          <button class="close-button">Cancle</button>
        </span>
      </form>
    </div>
  </div>
  <script src="/js/data.js"></script>
  <script src="/js/element.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/team.js"></script>
  <script src="/js/calendar.js"></script>
  <script src="/js/user.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>