<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>schedule</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="wrap">
    <div id="background">
      <div class="grid"></div>
    </div>
    <div id="input-wrap">
      <div id="form-background">
        <div class="grid">
          <form id="register-form" action="/register-action" method="post" target="action-if">
            <div class="flex">
              <h2>Register</h2>
              <span class="input-group">
                <span>Id</span>
                <input type="text" name="id">
              </span>
              <span class="input-group">
                <span>Password</span>
                <input type="password" name="password">
              </span>
              <span class="input-group">
                <span>Email</span>
                <input type="password" name="password">
              </span>
            </div>
            <input type="submit" value="register">
          </form>
        </div>
      </div>
      <div id="register" class="change-button">Register</div>
      <div id="login" class="change-button">Login</div>
      <form id="login-form" action="/login-action" method="post" target="action-if">
        <div class="flex">
          <h2>Login</h2>
          <span class="input-group">
            <span>Id</span>
            <input type="text" name="id">
          </span>
          <span class="input-group">
            <span>Password</span>
            <input type="password" name="password">
          </span>
          <span class="input-other">
            <a href="#" class="mobile">Register</a>
            <a href="#">forgot password?</a>
          </span>
        </div>
        <input type="submit" value="Login">
      </form>
      <iframe id="ac-if" name="action-if" class="ac-if"></iframe>
    </div>
  </div>
  <script src="/js/login.js"></script>
</body>
</html>